
:root{
  --primary-color: #172727;
  --secondary-color: white;}

  
.border-solid{
  border: solid 2px #333;
}

.bg-blue{
  background-color: var(--secondary-color);
}

.bg-yellow{
  background-color: var(--secondary-color);
}

.bg-red{
  background-color: var(--secondary-color);
}

.bg-brown{
  background-color: var(--secondary-color);
}

.bg-chocolate{
  background-color: var(--secondary-color);
}

.bg-gold{
  background-color: var(--secondary-color);
}

.bg-purple{
  background-color: var(--secondary-color);
}

.bg-green{
  background-color: var(--secondary-color);
}
