@media (max-width: 768px) {
:root{
  --primary-color: #172727;
  --secondary-color: #F2EDFA;
  --h1-font: 2.2rem;
  --h2-font: 1.8rem;
  --h3-font: 1.5rem;
  --body-p-font: 1rem;
  --menu-font: 1rem;
  --nav-links-font: 1.1rem;
  --footer-heading-font: 1.2rem;
  --brand-name-font: 1.6rem;
  --copyright-font: 0.85rem;
  --footer-p-font: 0.9rem;
  --header-padding: 1rem 2rem;
  --section-padding: 3rem 0;
  --footer-padding: 3rem 2rem;
  --header-height: 72px;
  --menu-spacing: 0.65rem;
  --header-margin-bottom: 2rem; 
  --title-margin-bottom: 1rem;
}

#photo-outline>#photo-outline-container{
 flex-direction: column;
 justify-content: space-around;
 gap: 15px;
}
}